const BASE_URL = "https://633ec0700dbc3309f3bc569f.mockapi.io"
// const axiosService = axios.create({
//     baseURL: "https://633ec0700dbc3309f3bc569f.mockapi.io",
// });
// const fetchProducts = async () => {
//     try {
//         const response = await axiosService.get("/products");
//         const { data } = response;
//         return data;
//     } catch (error) {
//         console.log("error: ", error);
//     }
// };
var fetchProducts = function () {
    axios({
        url: `${BASE_URL}/products`,
        method: "GET",
    })
        .then(function (response) {
            renderPhone(response.data);

        })
        .catch(function (error) {

            console.log("🚀 error", error);

        });

}
fetchProducts()

var renderPhone =  function (list) {
    // const list =  fetchProducts();
    var contentHTML = "";
    list.forEach(function (phone) {
        contentHTML += `
        <div class="col-3">
        <div class="card">
  <img src="${phone.img}" class="card-img-top">
  <div class="card-body">
    <h5 class="card-title">${phone.name}</h5>
    <p> ${phone.price} </p>
    <p> ${phone.type} </p>
    <a href="#" class="btn btn-primary">Buy</a>
  </div>
</div>
        </div>`;
    });
    document.getElementById("tbodyPhone").innerHTML = contentHTML;
};


var renderCheckPhone = async function () {
    const list = await fetchProducts();
    var contentHTML = "";
    list.map(function (phone) {
        return phone.type == 'samsung'
    })
}
renderCheckPhone();
console.log("🚀", renderCheckPhone)

function check() {
    let loai = document.getElementById("tbodyPhone");
    if (loai == 'samsung') {
        renderCheckPhone();
    }

}
